<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>gear5th ad container</title>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0">
    <div id="gear5th-adserver" style="position: absolute; top: 0;left: 0; z-index: 10000;">
        {{if .AdView.AdPiece.Ref.String}}
        <a href="/ads/adclick/adpiece/{{.AdView.AdPiece.ID.String}}?token={{.AdView.ViewIDToken}}&site-id={{.SiteID}}&publisher-id={{.PublisherID}}&adslot-id={{.AdSlotID}}"
            target="_blank">
            <img src="/advertiser/adpiece/{{.AdView.AdPiece.ID.String}}/resource" alt="" title=""
                width="{{.AdView.AdPiece.SlotType.Dimentions.Width}}"
                height="{{.AdView.AdPiece.SlotType.Dimentions.Height}}">
        </a>
        {{else}}
        <img src="/advertiser/adpiece/{{.AdView.AdPiece.ID.String}}/resource" alt="" title=""
            width="{{.AdView.AdPiece.SlotType.Dimentions.Width}}"
            height="{{.AdView.AdPiece.SlotType.Dimentions.Height}}">
        {{end}}
    </div>
    <script>
        window.addEventListener("message", (e) => {
            if (e.data == "gear5th-ad-impression") {
                makeImpression(e.origin)
            }
        })

        function makeImpression(origin) {
            fetch("/ads/impression", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "adPieceId": "{{.AdView.AdPiece.ID.String}}",
                    "siteId": "{{.SiteID}}",
                    "adSlotId": "{{.AdSlotID}}",
                    "publihserId": "{{.PublisherID}}",
                    "token": "{{.AdView.ViewIDToken}}",
                    "origin": origin,
                })
            })
        }
    </script>

</body>

</html>