<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}{{end}}</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/tailwind.dist.css">
</head>

<body class="bg-lightest text-dark font-roboto">

    <header class="flex justify-between w-screen h-16 fixed top-0 left-0 bg-white border-b border-light">

        <div class="sm:hidden">
            <button type="button" onclick="sidenavOpen()"> <i class="bx bx-menu p-4 text-2xl"></i></button>
        </div>

        <div class="max-sm:hidden">
            <a href="/publish/home" class="flex items-center px-8 h-full w-80  border-r border-light ">
                <span class="inline-block h-12 w-12"><img src="/assets/logo.png" alt="logo"></span>
                <span class="px-2 font-bold text-primary text-xl">Publisher Console</span>
            </a>
        </div>


        <div class="sm:px-8 flex-grow flex items-center justify-end">
            <div class="text-2xl">
                <button type="button"><i class="bx bx-help-circle px-4" title="help"></i></button>
                <button type="button"><i class="bx bx-bell px-4" title="notifications"></i></button>
                <button type="button"><i class="bx bx-log-out px-4" title="sign out"></i></button>
            </div>

        </div>

    </header>

    <div class="flex">
        <nav id="sidenav"
            class="fixed hidden sm:flex flex-col justify-between mt-16 h-screen w-80 border-r py-8 border-light bg-white">
            <div>
                <ul>
                    <li>
                        <a id="nav-home" href="/publish/home" class="sidebarnav-item">
                            <i class="bx bx-home-alt-2 text-xl"></i>
                            <span class="px-4">Home</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav-sites" href="/publish/sites" class="sidebarnav-item">
                            <i class="bx bx-layout text-xl"></i>
                            <span class="px-4">Sites</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav-ads" href="/publish/ads" class="sidebarnav-item">
                            <i class="bx bx-grid-alt text-xl"></i>
                            <span class="px-4">Ads</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav-payments" href="#" class="sidebarnav-item">
                            <i class='bx bx-money text-xl'></i>
                            <span class="px-4">Payments</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav-account" href="/publish/account" class="sidebarnav-item">
                            <i class="bx bx-cog text-xl"></i>
                            <span class="px-4">Account</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto py-12 text-center">
                <a href="#" target="_blank" class="text-xs">
                    <span class="underline">Terms and conditions of service</span>
                    <i class='bx bx-link-external'></i>
                </a>
            </div>
        </nav>

        <!-- main console -->
        <div class="sm:flex-grow mt-16 sm:ml-80 sm:p-12">
            <div class="bg-white w-full h-full p-4 sm:p-12 rounded-sm shadow-medium shadow-md">
                {{block "in-console-main" .}}{{end}}
            </div>
        </div>

    </div>

    <script>
        function sidenavOpen() {
            let sidenav = document.getElementById("sidenav")
            sidenav.classList.toggle("hidden")
        }

        let sitePath = window.location.pathname

        switch (true) {
            case sitePath.includes("/home"):
                document.querySelector("#nav-home").classList.add("active-sidebarnav-item")
                break;
            case sitePath.includes("/sites"):
                document.querySelector("#nav-sites").classList.add("active-sidebarnav-item")
                break;
            case sitePath.includes("/ads"):
                document.querySelector("#nav-ads").classList.add("active-sidebarnav-item")
                break;
            case sitePath.includes("/payments"):
                document.querySelector("#nav-payments").classList.add("active-sidebarnav-item")
                break;
            case sitePath.includes("/account"):
                document.querySelector("#nav-account").classList.add("active-sidebarnav-item")
                break;
            default:
                break;
        }
    </script>

</body>

</html>