{{define "title"}}Ads | gear5th{{end}}

{{define "in-console-main"}}
<div class="flex flex-col p-8 mb-8 border  border-medium rounded-sm">
    <div class="pb-6">
        <h2 class="text-2xl text-darkest font-bold pb-2">Ads</h2>
        <p class="">
            Add ad slots that you will be displaying ads in your sites. You will be embedding these slots in your site
            pages to load ads and start monetization.
        </p>
    </div>
    <div class="self-end">
        <a href="/publish/ads/create-adslot">
            <button type="button" class="h-10 mr-4 text-white bg-primary px-4 py-2 rounded-sm hover:opacity-95">
                <i class='bx bx-plus-circle align-middle'></i>
                <span class="align-middle"> New ad slot</span>
            </button>
        </a>
    </div>
</div>
<div class="p-8 mb-8 border border-medium rounded-sm">
    <h3 class="text-darkest font-semibold text-lg py-4">
        Ad slots
    </h3>
    <div>
        {{range $siteDomain, $siteSlots := .AdSlots}}
        <div class="mb-8">
            <p class="font-bold text-darkest">{{$siteDomain}}</p>
            {{if ne (len $siteSlots) 0}}
            <ul>
                {{range $siteSlots}}
                <li class="p-2 flex justify-between border-b border-light">
                    <span>
                        {{.Name}}
                    </span>
                    <span>
                        {{.AdSlotType}}
                        <span class="text-xs"> ({{.SlotDimentions}} px)</span>
                    </span>
                    <span class="">
                        <a href="/publish/ads/integration-snippet/{{.AdSlotID}}" title="integration code snippet"
                            class="mr-4">
                            <i class='text-primary bx bx-code-alt align- hover:text-secondary'></i>
                        </a>
                        <a href="/publish/ads/edit-adslot/{{.AdSlotID}}" title="edit ad slot" class="mr-4">
                            <i class='text-primary bx bx-edit-alt align- hover:text-secondary'></i>
                        </a>
                        <button type="button" id="remove-adslot-btn" onclick="openRemoveAdSlotDialog({{.AdSlotID}})"
                            title="remove ad slot">
                            <i class='text-primary bx bx-trash align-middle hover:text-secondary'></i>
                        </button>
                    </span>
                </li>
                <dialog class="p-16 rounded-sm shadow-md" id="remove-adslot-dialog-{{.AdSlotID}}">
                    <h2 class="text-darkest text-xl font-bold">Are you sure you want to remove this ad slot?</h2>
                    <p class="text-dark">{{.Name}}</p>
                    <div class="flex items-center gap-4 mt-8">
                        <a href="/publish/ads/remove-adslot/{{.AdSlotID}}">
                            <button class="h-10 text-white bg-primary px-4 py-2 rounded-sm hover:opacity-95">
                                <i class='bx bx-trash'></i>
                                Remove ad slot
                            </button>
                        </a>
                        <button onclick="closeRemoveAdSlotDialog({{.AdSlotID}})"
                            class="h-10 text-primary border-2 border-primary bg-white px-4 py-2 rounded-sm hover:text-white hover:bg-primary hover:opacity-95">
                            Cancel
                        </button>
                    </div>
                </dialog>
                {{end}}
            </ul>
            {{else}}
            <p>You do not have any ad slots for this site. Add a new ad slot to get started.</p>
            {{end}}
        </div>
        

        {{else}}
        <p>You dont't have any sites registered. Go to <a href="/publish/sites"
                class="text-secondary underline">sites</a> to get started.</p>
        {{end}}
    </div>
</div>

<script>
    function openRemoveAdSlotDialog(adSlotID) {
        let dialog = document.getElementById("remove-adslot-dialog-" + adSlotID)
        dialog.showModal()
    }
    function closeRemoveAdSlotDialog(adSlotID) {
        let dialog = document.getElementById("remove-adslot-dialog-" + adSlotID)
        dialog.close()
    }
</script>
{{end}}