{{define "title"}}Ads | gear5th{{end}}

{{define "in-console-main"}}
<div class="pb-8">
    <h2 class="text-darkest text-2xl font-bold pb-4">HTML integration code snippet</h2>
    <p>Paste the following code into your site’s HTML. Make sure the ad is visible and users of your site can interact
        with
        it unambiguously.</p>
</div>
<div class="w-fit text-darkest border border-medium p-4 my-4 rounded-sm">
    <code>
        {{.HTMLSnippet}}
    </code>
</div>

<div class="my-8">
    <a href="/publish/ads">
        <button type="submit" class="h-10 mr-4 text-white bg-primary px-4 py-2 rounded-sm hover:opacity-95">
            Go back to ads
        </button>
    </a>
</div>

{{end}}