{{define "title"}}Sites | gear5th{{end}}

{{define "in-console-main"}}
<div style="background-image: url('/assets/blurry-gradient.svg');"
    class="text-lightest flex flex-col p-8 mb-8 border border-medium rounded-sm">
    <div class="pb-6">
        <h2 class="text-2xl font-bold pb-2">Sites</h2>
        <p class="text-light">
            Add sites that you will be displaying ads in. Sites need to be verified before they could display ads
            and get monetized. Check out our
            <a href="#" class="text-lightest underline font-bold">verification guide</a> to learn more.
        </p>
    </div>
    <div class="self-end">
        <a href="/publish/sites/create-site">
            <button type="button" class="shadow-md shadow-secondary h-10 mr-4 text-white bg-primary px-4 py-2 rounded-sm hover:opacity-95">
                <i class='bx bx-plus-circle align-middle'></i>
                <span class="align-middle"> New site</span>
            </button>
        </a>
    </div>
</div>
<div class="p-8 mb-8 border border-medium rounded-sm">
    <h3 class="text-darkest font-semibold text-lg py-4">
        Active sites
    </h3>
    <ul>
        {{range .ActiveSites}}
        <li class="p-2 flex justify-between border-b border-light">
            <span class="font-bold text-secondary hover:underline">
                <a href="{{.SiteURL}}" target="_blank">
                    {{.SiteDomain}}<i class='bx bx-link-external text-xs align-top px-1'></i>
                </a>
            </span>
            <div>
                {{if .IsSiteVerified}}
                <span class="text-xs p-1 mx-2 bg-green-50 text-green-900 border border-green-900 rounded-md">
                    <i class='bx bx-check-circle align-middle'></i>
                    <span class="align-middle">Verified</span>
                </span>
                {{else}}
                <span class="text-xs p-1 mx-2 bg-red-50 text-red-900 border border-red-900 rounded-md">
                    <i class='bx bx-x-circle align-middle'></i>
                    <span class="align-middle">Unverified</span>
                </span>
                {{end}}
                {{if not .CanSiteMonetize}}
                <span class="text-xs p-1 mx-2 bg-red-50 text-yellow-900 border border-yellow-900 rounded-md">
                    <i class='bx bx-error-circle align-middle'></i>
                    <span class="align-middle">Demonetized</span>
                </span>
                {{end}}
            </div>
            <span class="">
                <a href="/publish/sites/verify-site-prompt/{{.SiteID}}" title="verify site" class="mr-4">
                    <i class='text-primary bx bx-code-alt align- hover:text-secondary'></i>
                </a>
                <button id="remove-site-btn" onclick="openRemoveSiteDialog({{.SiteID}})" type="button"
                    title="remove site">
                    <i class='text-primary bx bx-trash align-middle hover:text-secondary'></i>
                </button>
            </span>
        </li>
        <dialog class="p-16 rounded-sm shadow-md" id="remove-site-dialog-{{.SiteID}}">
            <h2 class="text-darkest text-xl font-bold">Are you sure you want to remove this site?</h2>
            <p class="text-dark">{{.SiteDomain}}</p>
            <div class="flex items-center gap-4 mt-8">
                <a href="/publish/sites/remove/{{.SiteID}}">
                    <button class="h-10 text-white bg-red-700 px-4 py-2 rounded-sm hover:opacity-95">
                        <i class='bx bx-trash'></i>
                        Remove site
                    </button>
                </a>
                <button onclick="closeRemoveSiteDialog({{.SiteID}})"
                    class="h-10 text-primary border-2 border-primary bg-white px-4 py-2 rounded-sm hover:text-white hover:bg-primary hover:opacity-95">
                    Cancel
                </button>
            </div>
        </dialog>
        {{else}}
        <p>
            You have No active sites registered. Add a new site to get started.
        </p>
        {{end}}

    </ul>
</div>

<script>
    function openRemoveSiteDialog(siteID) {
        let dialog = document.getElementById("remove-site-dialog-" + siteID)
        dialog.showModal()
    }
    function closeRemoveSiteDialog(siteID) {
        let dialog = document.getElementById("remove-site-dialog-" + siteID)
        dialog.close()
    }
</script>

{{end}}