{{define "title"}}Sites | gear5th{{end}}

{{define "in-console-main"}}
<div class="pb-8">
    <h2 class="text-darkest text-2xl font-bold">Verify site</h2>
</div>
<div>
    <p class="">
        Paste the following snippet in the ads.txt file of your site. You can create a new ads.txt file if it does
        not exist, place the file on the root of your site. It should be accessible in
        <a href="{{.SiteDomain}}/ads.txt" target="_blank" 
        class="font-bold underline hover:text-secondary">
            {{.SiteDomain}}/ads.txt
        </a>
    </p>
    <div class="w-fit border border-medium p-4 my-4 rounded-sm">
        <code>
            {{.SiteAdsTxtRecord}}
        </code>
    </div>
</div>

<div class="flex items-center gap-4">
    <a href="/publish/sites/verify-site/{{.SiteID}}">
        <button type="submit" class="h-10 text-white bg-primary px-4 py-2 rounded-sm hover:opacity-95">
            Continue
        </button>
    </a>

    <a href="/publish/sites">
        <button type="button"
            class="h-10 text-primary border-2 border-primary bg-white px-4 py-2 rounded-sm hover:text-white hover:bg-primary hover:opacity-95">
            Cancel
        </button>
    </a>
</div>

{{end}}