{{define "title"}}Publisher sign up | gear5th{{end}}

<div class=" h-full w-full p-20">

    <div class="w-[472px] mx-auto px-9 py-8 bg-white rounded-sm shadow-sm">

        <div class="w-full">
            <img src="/assets/logo_with_title.png" alt="gear5th logo" class="mx-auto" width="150" height="150">
        </div>

        <div class="py-10 text-left">
            <h2 class="text-darkest font-bold text-2xl mb-4">
                Welcome to gear5th Advertising
            </h2>
            <p class="text-base">
                Verification link has been sent to your email. Click on the link to get started.
            </p>
        </div>
    </div>
</div>