{{define "title"}}Publisher sign up | gear5th{{end}}

{{define "in-card-main"}}

<div class="flex justify-between pt-9 pb-4">
    <span class="text-2xl text-darkest font-bold">Create an account</span>
    <span class="text-lg"><a href="/publish/identity/signin" class="text-secondary font-bold">Sign in</a>
        instead? </span>
</div>

{{if .ErrorMessage}}
{{template "error-alert" .ErrorMessage}}
{{end}}

<form method="post" id="create-account-form" class="text-dark my-4">
    <div class="flex justify-between max-w-full">

        <div class="mb-4 flex-shrink pr-4">
            <label for="first-name" class="text-xs">First name</label>
            <input type="text" name="first-name" id="first-name" value="{{.FirstName}}" required
                class=" p-2 w-full form-input block rounded-sm border-medium focus:border-darkest focus:outline-none focus:ring-0">
        </div>
        <div class="mb-4 ">
            <label for="last-name" class="text-xs">Last name</label>
            <input type="text" name="last-name" id="last-name" value="{{.LastName}}" required
                class="p-2 w-full form-input block rounded-sm border-medium focus:border-darkest focus:outline-none focus:ring-0">
        </div>

    </div>

    <div class="mb-4">
        <label for="email" class="text-xs">Email</label>
        <input type="email" name="email" id="email" value="{{.Email}}" required
            class="p-2 form-input block w-full rounded-sm border-medium focus:border-darkest focus:outline-none focus:ring-0">
    </div>
    <div class="mb-4">
        <label for="phone-number" class="text-xs">Phone number</label>
        <!-- <p class="text-[10px]">eg. 0929186232</p> -->
        <input type="tel" name="phone-number" id="phone-number" value="{{.PhoneNumber}}" required size="30"
            placeholder="eg. 0929186232" maxlength="24"
            class="text-medium p-2 form-input block w-full rounded-sm border-medium focus:border-darkest focus:outline-none focus:ring-0">
    </div>
    <div class="mb-4">
        <label for="password" class="text-xs">Password</label>
        <input type="password" name="password" id="password" maxlength="64" required
            class="p-2 form-input block w-full rounded-sm border-medium focus:border-darkest focus:outline-none focus:ring-0">
    </div>

    <div class="mb-4">
        <label for="re-password" class="text-xs">Re-enter password</label>
        <input type="password" name="re-password" id="re-password" maxlength="64" required
            class="p-2 form-input block w-full rounded-sm border-medium focus:border-darkest focus:outline-none focus:ring-0">
    </div>

    <div class="my-8">
        <p class="text-xs pb-4">
            By creating an account, I agree to the <a href="#" class="underline">Terms and conditions of
                service</a>
        </p>
        <div>
            <button type="submit" class="w-full h-10 text-white bg-primary px-4 py-2 rounded-sm hover:opacity-95">
                Create account
            </button>
        </div>
    </div>
</form>
<div class="w-full">
    <p class="mx-auto w-fit my-4 text-xs">or</p>
</div>

<div class="my-8">
    <div id="g_id_onload" data-client_id="85840167361-qiuamr7b1atgb3v4bnc3javknoa6u2fd.apps.googleusercontent.com"
        data-context="signup" data-ux_mode="redirect"
        data-login_uri="http://localhost:5071/publish/identity/oauth/signup" data-auto_prompt="false">
    </div>

    <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline" data-text="signup_with"
        data-size="large" data-logo_alignment="center" data-width="400">
    </div>
</div>
<script src="https://accounts.google.com/gsi/client" async></script>
<script>

    let createAccountForm = document.getElementById("create-account-form")

    createAccountForm.addEventListener("submit", (e) => {
        e.preventDefault();
        let password = document.getElementById("password")
        let repassword = document.getElementById("re-password")

        if (password.value !== repassword.value) {
            alert("Make sure you have entered the same password in the re-enter password field")
        }
        else {
            createAccountForm.submit()
        }
    });

</script>
{{end}}