{{define "title"}}Home | gear5th{{end}}

{{define "in-console-main"}}

<div class="flex max-sm:flex-col gap-2 sm:justify-between">
    {{template "earning-card" .Day}}
    {{template "earning-card" .SevenDays}}
    {{template "earning-card" .Month}}

    <div class="w-full sm:w-fit flex flex-col  p-4 rounded bg-primary text-lightest">
        <span class="text-sm text-light">Current balance</span>
        <span class="font-bold text-xl">{{printf "%.2f" .CurrentBalance}}
            <span class="text-base">ETB</span>
        </span>
        <span class="font-bold text-light">{{printf "%.1f" .BalanceTresholdPercentage}}%</span>
        <span class="text-xs text-light">of threshold</span>
    </div>
</div>

<div>
    
</div>
{{end}}


{{define "earning-card"}}
<div class="w-full sm:w-fit flex flex-col border border-medium p-4 rounded">
    <span class="text-sm">{{.CurLabel}}</span>
    <span class="font-bold text-xl">{{printf "%.2f" .Cur}}
        <span class="text-base">ETB</span>
    </span>
    {{if isup .Prev .Cur}}
    <span class="text-green-700 font-bold">
        <i class='bx bxs-upvote' ></i>
        <span>+{{sub .Prev .Cur }}</span>
        <span>({{perdiff .Prev .Cur}}%)</span>
    </span>
    {{else}}
    <span class="text-red-700 font-bold">
        <i class='bx bxs-downvote' ></i>
        <span>{{sub .Prev .Cur}}</span>
        <span>({{perdiff .Prev .Cur}}%)</span>
    </span>
    {{end}}
    <span class="text-xs">vs {{.PrevLabel}}</span>
</div>
{{end}}