{{define "title"}}Advertiser | gear5th{{end}}

{{define "in-main"}}
<div class="flex justify-between pt-9 pb-4">
    <span class="text-2xl text-darkest font-bold">Your campaigns</span>
    <p>{{.AdvertiserEmail}}</p>
</div>
<div>
    <ul>
        {{range .Campaigns}}
        <li class="flex justify-between p-2 border-b border-light">
            <a href="/advertiser/adpiece?campaignId={{.ID}}&token={{$.Token}}" class="text-secondary underline">{{.Name}}</a>
            <span>
                <span class="font-bold">{{.Start}}</span>
                to
                <span class="font-bold">{{.End}}</span>
            </span>

            {{if .IsRunning}}
            <span class="text-xs p-1 text-green-900 border border-green-900 rounded-md">
                <i class='bx bx-check-circle align-middle'></i>
                Running</span>
            {{else}}
            <span class="text-xs p-1 text-red-900 border border-red-900 rounded-md">
                <i class='bx bx-x-circle align-middle'></i>
                Not running</span>
            {{end}}
        </li>
        {{else}}
        <p>You don't have any campaigns running. Contact us to get started.</p>
        {{end}}
    </ul>
</div>
{{end}}