{{define "title"}}Payment | gear5th{{end}}

{{define "in-console-main"}}
<div class="pb-6">
    <h2 class="text-2xl text-darkest font-bold pb-2">Payments</h2>
</div>
<div class="flex sm:justify-between gap-8 mx-4">
    <div class="flex flex-col sm:w-3/5">
        <span>
            <span class="font-bold">
                {{.PercentageOfDisbursementTreshold}}%
            </span>
            of
            <span class="font-bold">{{.DisbursementTreshold}} ETB</span>
            treshold
        </span>
        <div class="max-w-full w-full h-4 mb-4 bg-gray-200 rounded-full dark:bg-gray-700">
            <div class="h-4 bg-primary rounded-full" style="width: {{.PercentageOfDisbursementTreshold}}%">
            </div>
        </div>
        {{if .CanRequestDisbursement}}
        <a href="/publish/payments/request-disbursement" class="py-4">
            <button type="button" class="h-10 mr-4 text-white bg-primary px-4 py-2 rounded-sm hover:opacity-95">
                <i class='bx bx-money-withdraw align-middle'></i>
                <span class="align-middle"> Request disbursement</span>
            </button>
        </a>
        {{else}}
        <div>
            Once your earnings reach the treshold. You can request to withdraw your funds.
        </div>
        {{end}}
    </div>
    <div
        class="flex flex-col items-center self-center border border-medium bg-primary text-white p-2 rounded-sm max-h-fit">
        <span class="text-sm font-bold">Current balance</span>
        <div>
            <span class="font-bold text-2xl">{{.CurrentBalance}}</span>
            <span class="text-xl font-bold">ETB</span>
        </div>
    </div>
</div>
<div class="p-8 my-8 border border-medium rounded-sm">
    <h3 class="text-darkest font-semibold text-lg py-4">
        Transactions
    </h3>
    <ul>
        {{range .SettledDisbursements}}
        <li>{{.}}</li>
        {{else}}
        <p>You don't have any settled disbursements yet</p>
        {{end}}
    </ul>
</div>
{{end}}