{{define "title"}}Reset password{{end}}

{{define "heading"}}gear5th Advertising{{end}}
{{define "in-mail-main"}}
<div class="py-8">
    <p class="font-bold text-lg text-darkest py-2">Reset your password</p>
    <p class="text-sm">
        A request has been made to reset your password. If you did not initiate 
        that request you can safely ignore this email. 
    </p>
</div>
<div class="w-full">
    <div class="w-fit mx-auto pb-8">
        <a href="{{.}}">
            <button type="button" class="font-bold h-10 text-white bg-primary px-4 py-2 rounded-sm hover:opacity-95">
               Reset password
            </button>
        </a>
    </div>
</div>
{{end}}