{{define "title"}}Reset password | gear5th{{end}}

{{define "in-card-main"}}

<div class="pt-9 pb-4 text-left">
    <h2 class="text-2xl text-darkest font-bold">Reset password</h2>
    <p class="text-sm pt-4">
        A link with instructions to reset your password will be sent to your email.
    </p>
</div>

{{if .ErrorMessage}}
{{template "error-alert" .ErrorMessage}}
{{end}}

<form method="post" class="text-dark ">
    <div class="mb-4">
        <label class="text-xs">Email</label>
        <input type="email" name="email" id="email" value="{{.Email}}" required
            class="p-2 form-input block w-full rounded-sm border-medium focus:border-darkest focus:outline-none focus:ring-0">
    </div>
    <div class="my-8">
        <button type=" submit" class="w-full h-10 text-white bg-primary px-4 py-2 rounded-sm">
            Send email
        </button>
    </div>
</form>

{{end}}